body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5d0e3;
    height: 100vh;
}

table{
border-collapse: collapse;
width: 75%;
font-family: Arial, sans-serif;
font-size: 14px;
background-color: #ebeeed;
border-radius: 10px;

}

th, td{
    border: 1px solid rgb(177, 124, 124);
    text-align: center;
    padding: 11px;
}
th{
    background-color: beige;
    border-bottom: 2px solid #333;
}

tr:hover{
    background-color: rosybrown
}

caption{
    color: rgb(158, 79, 11);
    font-size:large;
    padding-bottom: 15px;
}