*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: darkblue;
}

h2{
    font-size: 24px;
    text-decoration: underline;
}

h3{
    font-size: 20px;
    color: darkgreen;
}

ul{
    padding-left: 12px;
    padding-top: 10px;
}

p{
    line-height: 1.5;
    font-size: 16px;
}
#projects h2{
    padding-bottom: 15px;
}

#about{
    margin: 10px;
    padding: 15px;
    background-color: lightgray;
    text-align: center;
}

#projects{
    margin: 10px;
    padding: 15px;
    background-color: blanchedalmond;
}

#skills{
    margin: 10px;
    padding: 15px;
    background-color: lightyellow;
}

li{
    font-weight: bold;
}

nav li, a{
    list-style-type: none;
    color:darkred;
}


img[src] {
    border: 2px solid black;
    border-radius: 50%;
    }    

#projects h3{
    color: rgb(216, 109, 66);
    padding: 5px;
}

nav {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

nav ul{
    display: flex;
    gap: 30px;
}

nav ul li a:hover{
    color:orange;
    text-decoration: underline;
}

#skills li::before {
    content: "⭐ ";
}

#testimonials {
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    text-align: center;
  }

  #testimonials h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  blockquote {
    font-style: italic;
    border-left: 4px solid #0077cc;
    margin: 20px 0;
    padding-left: 15px;
    color: #555;
  }

  footer {
    background-color: #333;
    color: #f0f0f0; 
    text-align: center;
    padding: 10px;
    font-family: Arial, sans-serif;

  }

  footer p {
    font-size: 10px;
  }